.NavBar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3em;
  max-width: 800px;
  /* height: 2em; */
}

.NavLink {
  color: rgb(56, 56, 56);
  background-color: white;
  border-radius: 15px;
  border-style: solid;
  border-width: thin;
  border-color: rgb(228, 228, 228);
  padding: 0.5em;
  margin: 0.2em;
  text-decoration: none;
}

.NavLink:hover {
  background-color: rgb(224, 224, 224);
  text-decoration: none;
}

.NavLinkActive,
.NavLinkActive:hover {
  background-color: rgb(47, 47, 47);
  font-weight: bolder;
  color: white;
  text-decoration: none;
}
.NavBar2 {
  position: relative;
  /* text-align: center; */
  color: white;
}
.cart {
  position: absolute;

  top: 1px;
  right: 1px;

  /* border: none; */
  /* background-color: white; */
  width: 5em;
  height: 3em;
  padding: 0;
  margin: 0;
}

.txt {
  position: absolute;
  top: 21px;
  right: 28px;
  transform: translate(-50%, -50%);
  /* text-align: right; */
  color: rgb(255, 255, 255);
  font-size: 1em;
  font-weight: bolder;
  text-decoration: none;
}
